*
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

.sm-wrapper
  position fixed
  background-color rgba(41,47,51,0.9)
  top 0
  left 0
  right 0
  bottom 0
  z-index 9997
  opacity 0
  transition opacity 300ms ease

.sm-wrapper-true
  opacity 1

.sm-wrapper-false
  opacity 0

.sm-modal
  position relative
  top 100vmin
  max-width 600px
  margin 0 auto
  background-color white
  border-radius 2px
  overflow hidden
  //box-shadow 0 0 14px rgba(0,0,0,.24),0 14px 28px rgba(0,0,0,.48)
  z-index 9998
  transition top 300ms ease

.sm-modal-center
  top 50px
  transition top 300ms ease

.sm-modal-header
  text-align center
  border-bottom 1px solid #e2e2e2
  padding 15px 0
  font-size 16px

.sm-modal-main
  padding 15px
  background-color #f8f8f5

.sm-modal-textarea,.sm-modal-input
  outline none
  padding 15px
  font-size 15px
  border 1px solid #e2e2e2
  border-radius 2px
  max-width 100%
  width 100%
  resize none
