.sm-wrapper
  position fixed
  background-color rgba(41,47,51,0.9)
  top 0
  left 0
  right 0
  bottom 0
  z-index 9997
  opacity 0
  transition opacity 300ms ease

.sm-wrapper-true
  opacity 1

.sm-wrapper-false
  opacity 0

.sm-modal
  position relative
  top 100vmin
  max-width 800px
  margin 0 auto
  background-color white
  min-height 300px
  border-radius 2px
  //box-shadow 0 0 14px rgba(0,0,0,.24),0 14px 28px rgba(0,0,0,.48)
  z-index 9998
  transition top 300ms ease

.sm-modal-center
  top 50px
  transition top 300ms ease